<nav class="navbar">
  <div class="navbar-container">
    <a href="index.html" class="navbar-logo">SIBE<span>DO</span></a>
    <ul class="navbar-menu">
      <li><a href="index.html" class="navbar-link">Inicio</a></li>
      <li><a href="buscar.html" class="navbar-link">Buscar becas</a></li>
      <li><a href="testimonios.html" class="navbar-link">Testimonios</a></li>
      <li>
        <a href="admin/login.html" class="btn btn-primary btn-sm"
          >Acceso admin</a
        >
      </li>
    </ul>
  </div>
</nav>
